<div class="container-fluid">
    <div data-aos="fade-down" data-aos-duration="1500" class="row">
        <div data-aos="fade-down" data-aos-duration="1500" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" id="sidebar">
            <div data-aos="fade-down" data-aos-duration="1500" class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-3 me-md-auto text-white text-decoration-none">
                    <span data-aos="fade-down" data-aos-duration="1500" class="fs-5 d-none d-sm-inline">Üdvözlünk, {{user.keresztnev}}</span>
                </a>
                <ul class="nav nav-pills flex-row flex-md-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 justify-content-center justify-content-md-start" id="menu">
                    <li data-aos="fade-down" data-aos-duration="1500" class="nav-item">
                        <a routerLink='/home' class="nav-link">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline nav-item-anim">Kezdőlap</span>
                        </a>
                    </li>  
                    <li data-aos="fade-down" data-aos-duration="1500" class="nav-item">
                        <a (click)="jovedelemKategoriakLekeres()" href="#" data-bs-toggle="modal" data-bs-target="#addIncome" class="nav-link">
                            <i class="fs-4 bi-wallet2"></i>
                            <span class="ms-1 d-none d-sm-inline nav-item-anim">Bevétel hozzáadása</span>
                        </a>
                    </li>
                    <li data-aos="fade-down" data-aos-duration="1500" class="nav-item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#addExpense" class="nav-link">
                            <i class="fs-4 bi-cash-coin"></i>
                            <span class="ms-1 d-none d-sm-inline nav-item-anim">Kiadás hozzáadása</span>
                        </a>
                    </li>
                </ul>
                <hr class="w-100">
                <div data-aos="fade-down" data-aos-duration="1500" class="dropdown w-100">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{user.profilkepUrl}}" alt="{{user.vezeteknev}} {{user.keresztnev}} profilképe" class="rounded-circle me-2" width="30" height="30">
                        <span class="d-none d-sm-inline"><b>{{user.vezeteknev}} {{user.keresztnev}}</b></span>
                    </a>
                    <ul data-aos="fade-down" data-aos-duration="800" class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" (click)="notWorking()">Profil megtekintése</a></li>
                        <li><a class="dropdown-item" (click)="notWorking()">Beállítások</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" (click)="logout()">Kijelentkezés</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3 main-content">
            <div class="container-fluid px-5 py-4">
                <div class="row g-3 mb-4">
                    <div class="col-12 col-md-4">
                        <div class="card h-100" data-bs-toggle="modal" data-bs-target="#jovedelemModal">
                            <div class="card-body text-center">
                                <h4 class="card-title">Havi jövedelem</h4>
                                <h4 class="text-success">{{havijovedelmek()}} HUF</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card h-100" data-bs-toggle="modal" data-bs-target="#kiadasokModal">
                            <div class="card-body text-center">
                                <h4 class="card-title">Havi kiadások</h4>
                                <h4 class="text-danger">-{{havikiadasok()}} HUF</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <h4 class="card-title">Havi összes</h4>
                                <h4 *ngIf="haviosszes() > 0; else negative" class="text-success">{{haviosszes()}} HUF</h4>
                                <ng-template #negative>
                                    <h4 class="text-danger">
                                      {{haviosszes()}} HUF</h4>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <app-graph class="responsive-chart"></app-graph>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <app-polararea class="responsive-chart"></app-polararea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <app-piechart class="responsive-chart"></app-piechart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bevétel hozzáadása modal element -->
<div class="modal fade incomeModal" id="addIncome" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Bevétel hozzáadása</h1>
        <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="display: flex; justify-content: space-between;"> <span class="bi bi-list-check text-light">&nbsp;Bevétel típusa: </span>
         
          <select name="expenseCategory" id="incomeCategory"  [(ngModel)]="jovedelemTipus">
            <option value="Válassz!">Válassz!</option>
            <option *ngFor="let kategoria of jovedelemkategoriatomb" [value]="kategoria.kategoriaID">{{kategoria.jovedelemKategoria}}</option>
            
          </select>
        </p>
        <p style="display: flex; justify-content: space-between;">  <span class="bi bi-cash text-light">&nbsp;Érték: </span> <input type="number" name="incomeHUF" id="incomeHUF" placeholder="Érték Forintban"  [(ngModel)]="jovedelemErtek"></p>
        <p style="display: flex; justify-content: space-between;"> <span class="bi bi-calendar-date text-light">&nbsp;Bevétel dátuma: </span> <input type="date" name="incomeDate" id="incomeDate"  [(ngModel)]="jovedelemDatum"></p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Mégsem</button>
        <button type="button" class="btn btn-success" (click)="jovedelemHozzadasa()" data-bs-dismiss="modal">Bevétel mentése</button>
      </div>
    </div>
  </div>
</div>


  

    <!-- Kiadás hozzáadása modal element -->
    <div class="modal fade expenseModal" id="addExpense" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Kiadás hozzáadása</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form>
          <div class="modal-body">
           <p style="display: flex; justify-content: space-between;"> <span class="bi bi-list-check text-light">&nbsp;Kiadás típusa: </span>
            <select name="expenseCategory" id="expenseCategory" [(ngModel)]="kiadasTipus">
              <option value="Válassz!">Válassz!</option>
              <option *ngFor="let kategoria of kiadaskategoriatomb" [value]="kategoria.kategoriaID">{{ kategoria.kiadasKategoria }}</option>
            </select></p>
            <p style="display: flex; justify-content: space-between;"> <span class="bi bi-cash text-light">&nbsp;Érték: </span> <input type="number" name="expenseHUF" id="expenseHUF"[(ngModel)]="kiadasErtek" placeholder="Érték forintban"></p>
            <p style="display: flex; justify-content: space-between;"> <span class="bi bi-calendar-date text-light">&nbsp;Kiadás dátuma: </span><input type="date" name="expenseDate" id="expenseDate" [(ngModel)]="kiadasDatum"></p>
            <p> <span class="bi bi-chat-left-text text-light"></span> Kiadás kommentelése:</p>
            <textarea name="expenseComment" id="expenseComment" [(ngModel)]="kiadasMegjegyzes" placeholder="pl. Vásárlás során válaszott termékek - NEM KÖTELEZŐ!"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Mégsem</button>
            <button type="button" class="btn btn-success" (click)="kiadasHozzaadas()">Kiadás mentése</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <!-- Jövedelmek modal element -->
     <!-- Modal -->
<div class="modal fade" id="jovedelemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Összes jövedelem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-incomelist></app-incomelist>
      </div>
    </div>
  </div>
</div>

<!-- Kiadások modal element -->
<!-- Modal -->
<div class="modal fade" id="kiadasokModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Összes kiadás</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-expenselist></app-expenselist>
      </div>
    </div>
  </div>
</div>

  
