<div class="container">
    <div class="header mt-3 mb-5" id="header">
        <div class="logo-container col-5 col-lg-6 col-md-4 col-sm-5 inline">     
            <div>
              <a data-aos="fade-down" data-aos-duration="1500" routerLink="" *ngIf="!loggedIn(); else dashPicture;"><img class="cashTracklogo" src="assets/logo.jpg" alt="CashTrackLogo" width="100" height="100" fill></a>
            </div>
            <ng-template #dashPicture></ng-template>
        </div>
        
        <div class="nav-container">
            <div class="desktop-menu">
                <a data-aos="fade-down" data-aos-duration="2500" routerLink='/kapcsolat'>Kapcsolat</a>
                <a data-aos="fade-down" data-aos-duration="2000" routerLink='/rolunk'>Rólunk</a>
                <div>
                    <a data-aos="fade-down" data-aos-duration="1500" routerLink='/login' *ngIf="!loggedIn(); else dash;">Bejelentkezés</a>
                    <ng-template #dash>
                        <a data-aos="fade-down" data-aos-duration="1500" routerLink='/dashboard'>Irányítópult</a>
                    </ng-template>
                </div>
            </div>
            
            <button class="hamburger-menu" (click)="toggleMenu()">
                <i class="bi bi-list"></i>
            </button>
            
            <div class="mobile-menu" [class.active]="isMenuOpen">
                <a routerLink='/'>Főoldal</a>
                <a routerLink='/kapcsolat'>Kapcsolat</a>
                <a routerLink='/rolunk'>Rólunk</a>
                <a routerLink='/login' *ngIf="!loggedIn(); else mobileDash;">Bejelentkezés</a>
                <ng-template #mobileDash>
                    <a routerLink='/dashboard'>Irányítópult</a>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<script>
  function myFunction() {
    var x = document.getElementById("header");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>