<app-header></app-header>
<div class="container mt-5" style="color: white;">
    <div data-aos="fade-down" data-aos-duration="2500" class="row">
      <div class="col-4 textCenter">
        <img class="devPics" src="assets/media/connections/mettyu.jpg" alt="Profilfotó">
        <br>
        <h4 class="mt-3">Martocean Máté</h4>
        <h5>Frontend fejlesztő</h5>
        <p>mettyu&#64;cashtrack.hu</p>
        <p class="textCenter">
          <a href="https://github.com/hatarvedo" target="_blank"><i class="bi bi-github"></i></a>
        </p>
      </div>

      <div class="col-4 textCenter">
        <img class="devPics" src="assets/media/connections/dominik.jpg" alt="Profilfotó">
        <br>
        <h4 class="mt-3">Pacza Dominik</h4>
        <h5>Adatbázis fejlesztő</h5>
        <p>dominik&#64;cashtrack.hu</p>
        <p class="textCenter">
          <a href="https://github.com/dominikpacza" target="_blank"><i class="bi bi-github"></i></a>
        </p>
      </div>

      <div class="col-4 textCenter">
        <img class="devPics" src="assets/media/connections/martin.jpg" alt="Profilfotó">
        <br>
        <h4 class="mt-3">Porkoláb Martin</h4>
        <h5>Backend fejlesztő</h5>
        <p>martin&#64;cashtrack.hu</p>
        <p class="textCenter">
          <a href="https://github.com/trashieeeee" target="_blank"><i class="bi bi-github"></i></a>
        </p>
      </div>

      <div class="container mt-5 textCenter">
          <h3>Kérdésed van? Kérdezz bátran!</h3>
          <form action="vendor/sendEmail.php" class="mt-3">
              <input type="text" name="nev" id="nev" placeholder="Név" class="mt-2">
              <br>
              <input type="text" name="email" id="email" placeholder="E-mail" class="mt-2">
              <br>
              <input type="text" name="targy" id="targy" placeholder="Tárgy" class="mt-2">
              <br>
              <input type="text" name="uzenet" id="uzenet" placeholder="Üzenet" class="mt-2 uzenet">
              <br>
              <button class="gomb mt-3 mb-5" type="submit">Küldés</button>
          </form>
      </div>

    </div>
  </div>

