
    <div class="list-group mt-2" id="kiadaslista">
    <div class="list-group-item list-group-item-action flex-column align-items-start" style="background-color: rgba(240, 240, 240, 0.8); color: rgb(40, 40, 40);" *ngFor="let kiadas of kiadasok; let i = index" id="kiadasLista">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{kiadas.kategoriaNev}}</h5>
        <small class="text-secondary">{{kiadas.kiadasDatum}}</small>
      </div>
      <p class="mb-2">{{kiadas.kiadasHUF}} Ft</p>
      <div style="display: flex; justify-content: space-between;">
      <small class="text-secondary">{{kiadas.kiadasKomment}}</small>
      <button class="btn btn-danger" (click)="kiadasTorles(i,kiadas.kiadasID)">Törlés</button>
      </div>
    </div> 
  </div>
    
