<app-header></app-header>
<div class="d-flex justify-content-center align-items-center text-light" style="height: calc(110vh - 70px); margin-top: 15vh;">
    <div class="container text-center">
        <div class="section text-light">
            <p class="text-light"><b>Bemutatkozás: </b> A CashTrack költségvetés-kezelő egy online weboldal, amely lehetővé teszi a felhasználók számára, 
                hogy egyszerűen kezeljék, nyomon kövessék és elemezzék pénzügyi kiadásaikat és bevételeiket.
                 A weboldal célja, hogy segítse a felhasználókat a pénzügyeik átláthatóságának növelésében, 
                lehetővé téve számukra a költségvetésük részletes kezelését és esetleges rendszerezését.</p>
            <img src="assets/logo.jpg" alt="CashTrack" class="img-fluid sizing">
        </div>
        <div class="section text-light">
            <img src="assets/logo.jpg" alt="Második kép" class="img-fluid">
            <b>Csapatunk bemutatása:</b> 
                <ul class="list-unstyled">
                    <li><b>Martin:</b> Martin egy 10-es skálán jó indulattal 8-asra értékelhető külsejű programozó.
                    Azon középosztálybeli fehér európai férfiak közé tartozik akik élvezik az életet.
                    Néhány ember szerint Azahriah-ra hasonlít,nem lehet ellene érvelni.
                    Összességében elég nehéz rosszat mondani róla,szerethető figura.</li>
                    <li><b>Máté: </b>Máté egy kreatív és céltudatos srác, aki szenvedélyesen szereti a technológiát és az innovációt.
                    Gyerekkora óta érdeklődik a programozás és a dizájn iránt, és mindig arra törekszik, hogy új dolgokat tanuljon és fejlessze önmagát.
                    </li>
                    <li><b>Dominik:</b>Dominik egy lelkes és vidám fiatal, aki imádja a videojátékokat és a futballmeccsek izgalmát. Gyerekkora óta rajong a gaming világáért,
                     és mindig nyitott az új kihívásokra, legyen szó stratégiáról, csapatjátékról vagy egy jó versengésről. Emellett szívesen követi kedvenc futballcsapata mérkőzéseit,
                    és szenvedélyesen elemzi a játékokat, taktikákat.</li>
                </ul>
        </div>
        <div class="section text-light">
            <p class="text-light"><b>Céljaink a jövőben:</b> A weboldal célja, hogy felhasználóbarát és átlátható módon segítse az embereket személyes és üzleti pénzügyeik kezelésében. A platform lehetőséget biztosít bevételek és kiadások nyomon követésére, részletes statisztikák és kimutatások készítésére, valamint pénzügyi célok kitűzésére.
                 A rendszer célja, hogy hozzájáruljon a tudatosabb pénzügyi döntésekhez, ezáltal segítve a felhasználókat abban, hogy hosszú távon stabilabb pénzügyi helyzetet érjenek el.</p>
            <img src="assets/logo.jpg" alt="Harmadik kép" class="img-fluid">
        </div>
    </div>
</div>