*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.doboz{
    display: grid;
    justify-content: center;
    margin-top: 100px;
    padding: 50px;
    grid-template-columns: repeat(12,1fr);
    
}
.szoveg{
    text-align: left;
    display: grid;
    margin-left: 100px;
    margin-top: 100px;
    padding-right: 100px;
  
  
  grid-column: 3/6;
    font-size: 50px;

  
}
/* svg path{
    fill: transparent;
    stroke: #fff;
    stroke-width: 0.3;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: textAnimation 3s ease-in-out 1 forwards;
    animation-fill-mode: none;

    
}
 @keyframes textAnimation{
    0%{
        stroke-dashoffset: 450;
    }
    80%{
        fill: transparent;
    }
   
    100%{
        fill: #fff;
        stroke-dashoffset: 0;
        opacity: 0%;
    }
  
    
} 

.contentbox{
    display: none;
    animation: contentAnimation 0s ease in 1 forwards;
}
@keyframes contentAnimation{
    0%{
        display: none;
    }
    100%{
        display: block;
        animation-delay: 3s;
    }
}
 */
 svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 0.3;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: textAnimation 3s ease-in-out 1 forwards;
  }
  
  @keyframes textAnimation {
    0% {
      stroke-dashoffset: 450;
    }
    80% {
      fill: transparent;
    }
    100% {
      fill: #fff;
      stroke-dashoffset: 0;
    }
  }
  
  .contentbox {
    
    animation: contentAnimation 0s ease in 1 forwards;
    animation-delay: 3s;
  }
  
  @keyframes contentAnimation {
    0% {
      display: none;
    }
    100% {
      display: block;
    }
  }

.title{
  text-align: center;
}

.registerDiv{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.registerButton{
    justify-content: center;
    padding: 5px 10px;
    grid-column: 3/7;

    
}
.spline-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 100px;
  position: relative;
  grid-column: 4/10;

}
.phone-3d{
  position: absolute;
  top: 0;
  right: -20%;
}

@media (max-width: 768px) {
  .spline-container {
    grid-column: 1/12;
    justify-content: center;
    margin-top: 20px;
  }
  
  .phone-3d {
    position: relative;
    top: 0;
    right: 0;
  }
}
